@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "mixins/ie10-and-up";
@import "typography";

.case-study-page {
  .cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;

    .overlay {
      position: relative;
      background: linear-gradient(180deg, $blog-color-image-from, $blog-color-image-to);
      height: 100%;
    }

    .header {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 50px 20px 30px;
      color: $blog-color-heading;

      p {
        margin-bottom: 0;
        color: $color-gray-extra-light;
        font-size: 20px;
      }
    }

    @media (max-width: $screen-xs-max) {
      height: 325px;

      .header {
        padding: 20px;

        h1 {
          font-size: 30px;
        }
      }
    }
  }

  .brand-logo-wide {
    margin-bottom: 30px;

    img {
      max-width: 300px;
    }
  }

  .brand-logo-tall {
    margin-bottom: 30px;

    img {
      max-height: 80px;
      max-width: 200px;
    }
  }
}

.customer-info-section-wrapper {
  padding: 80px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.customer-case-section-wrapper {
  padding: 80px 0;
  background-color: $color-white;
}

.customer-info-section .customer-key-benefits .list-content,
.customer-case-section .customer-case-item .contents {
  &,
  > p {
    font-size: 18px;
    color: $text-color-light;
    line-height: 28px;
    font-weight: 400;
  }
}

.customer-info-section {
  svg {
    top: 0;
  }
}

.customer-stats-section + .customer-case-section {
  padding-top: 40px;
}

.customer-detail-group {
  dt {
    @include font-weight-semibold;
    color: $color-gray-light;
    font-size: 18px;
    font-style: italic;
    line-height: 1;

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  dd {
    @include font-weight-regular;
    margin-top: 4px;
    color: $text-color-light;
    font-size: 18px;
    line-height: (26px / 18px);
  }
}

.customer-key-benefits .benefits-list-item {
  position: relative;
  margin-top: 35px;
  padding-left: 24px;

  &::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: "\2192";
  }

  &:first-child {
    margin-top: 10px;
  }

  .list-icon {
    font-size: 18px;
    width: 1.2em;
  }
}

.customer-case-item {
  margin-top: 50px;

  .section-content:first-of-type > &,
  .customer-result &:first-child {
    margin-top: 0;
  }

  .contents {
    margin-top: 10px;
    color: $text-color-light;

    + .contents {
      margin-top: 20px;
    }
  }

  blockquote {
    border-left-width: 3px;
    border-left-color: $color-gray-extra-light;
  }
}

.section-header {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;

  .section-title {
    display: inline;
    margin: 0;
    color: $color-gray-light;
    font-size: inherit;
    font-style: italic;
    font-weight: inherit;

    + .section-subtitle {
      &::before {
        display: inline-block;
        margin: 0 6px -2px 8px;
        color: $color-gray-light;
        content: "\2192";
      }
    }
  }

  .section-subtitle {
    display: inline;
    margin: 0;
    color: $color-primary;
    font-size: inherit;
    font-weight: inherit;
  }

  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: center;

    .section-subtitle {
      display: flex;
      align-items: center;
    }
  }
}

.customer-case-section {
  .quote-wrapper {
    max-width: 75%;
    padding: 10px;
    border-left: 3px solid $color-gray-extra-light;

    .quote-text,
    .quote-author {
      color: $color-primary;
    }

    .quote-text {
      font-size: 28px;
      font-weight: 300;
    }

    .quote-author {
      margin-top: 20px;
      font-size: 20px;
    }

    .quote-author-title {
      font-size: 16px;
      color: $color-gray;
      text-transform: uppercase;
    }
  }

  @media (min-width: $screen-md-min) {
    display: table;

    .customer-quote,
    .customer-result {
      display: table-cell;
      float: none;
    }
  }

  @media (min-width: $screen-sm-min) {
    .customer-quote {
      padding-bottom: 0;

      .quote-wrapper {
        max-width: 100%;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .customer-quote {
      padding: 50px;
      padding-bottom: 0;

      .quote-wrapper {
        max-width: 100%;
      }
    }
  }
}

.customer-stats-section-spacer {
  padding-bottom: 15px;
}

.customer-stats-section-spacer-lower {
  padding-bottom: 70px;
}

.customer-case-stats-group {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: space-around;
  width: 100%;
  margin-top: -150px;
  padding-left: 5px;
  padding-right: 5px;

  @media (max-width: $screen-md-max) {
    position: static;
    flex-wrap: wrap;
  }
}

.customer-case-stat {
  $lt-shadow-color: rgba(0, 0, 0, .10);
  flex: 1 1 200px;
  max-width: 370px;
  margin: 0 15px 30px;
  padding: 20px 10px;
  background: $color-white;
  box-shadow: 0 2px 6px 0 $lt-shadow-color;
  color: $color-primary;
  text-align: center;

  @include ie10-and-up {
    width: 370px;
  }

  .stat {
    @include accent-font-black;
    font-size: 76px;
    line-height: 1;
  }

  .label {
    font-size: 16px;
  }
}

.quote-body {
  @include font-weight-light;
  margin-bottom: 20px;
  color: $color-primary;
  font-size: 28px;
  line-height: (38px / 28px);
}

.quote-attribution {
  margin-bottom: 8px;
  color: $color-primary;
  font-size: 20px;
  line-height: 1;
}

.quote-attribution-title {
  color: $color-gray;
  font-size: 16px;
  line-height: 1;
}

.u-relative {
  position: relative;
}
